In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('emp.csv')

df.head()

   Emp_ID   Name   Age      Sal  Experience     Dept Joining_Date  Per_score
0   101.0   John  25.0  50000.0         2.0       IT    6/15/2019       85.0
1   102.0  Alice  30.0  60000.0         5.0       HR    4/22/2018       90.0
2   103.0    Bob  35.0      NaN        10.0  Finance    7/11/2015       78.0
3   104.0    Eve  28.0  55000.0         4.0       IT     1/5/2020       88.0
4   105.0   Mike  40.0  75000.0        12.0  Finance    9/18/2010       92.0

In [ ]:
df.tail()

    Emp_ID      Name   Age      Sal  Experience Dept Joining_Date  Per_score
43     NaN       NaN   NaN      NaN         NaN  NaN          NaN        NaN
44   145.0     Logan  27.0  53000.0         3.0   IT    6/17/2020       84.0
45   145.0     Logan  27.0  53000.0         3.0   IT    6/17/2020       84.0
46   137.0  Victoria  33.0  64000.0         8.0   HR    4/30/2017       87.0
47   138.0    Joseph  28.0  56000.0         4.0   IT    9/23/2019       86.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Emp_ID        46 non-null     float64
 1   Name          46 non-null     object
 2   Age           43 non-null     float64
 3   Sal           41 non-null     float64
 4   Experience    45 non-null     float64
 5   Dept          44 non-null     object
 6   Joining_Date  46 non-null     object
 7   Per_score     44 non-null     float64
dtypes: float64(5), object(3)
memory usage: 3.1+ KB

In [ ]:
df.describe()

           Emp_ID        Age           Sal  Experience  Per_score
count   46.000000  43.000000     41.000000   45.000000  44.000000
mean   123.217391  33.488372  64658.536585    8.400000  88.272727
std     13.039961   7.102555  11791.119023    5.487175   4.667371
min    101.000000  23.000000  48000.000000    1.000000  78.000000
25%    112.250000  28.000000  55000.000000    4.000000  85.000000
50%    123.500000  32.000000  63000.000000    8.000000  88.000000
75%    134.750000  38.000000  72000.000000   12.000000  91.250000
max    145.000000  50.000000  90000.000000   20.000000  97.000000

In [ ]:
df.columns

Index(['Emp_ID', 'Name', 'Age', 'Sal', 'Experience', 'Dept', 'Joining_Date',
       'Per_score'],
      dtype='object')

In [ ]:
df.shape

(48, 8)

In [ ]:
df.isnull().sum()

Emp_ID          2
Name            2
Age             5
Sal             7
Experience      3
Dept            4
Joining_Date    2
Per_score       4
dtype: int64

In [ ]:
df.duplicated().any()

np.True_

In [ ]:
df[df.duplicated()]

    Emp_ID      Name   Age      Sal  Experience Dept Joining_Date  Per_score
43     NaN       NaN   NaN      NaN         NaN  NaN          NaN        NaN
45   145.0     Logan  27.0  53000.0         3.0   IT    6/17/2020       84.0
46   137.0  Victoria  33.0  64000.0         8.0   HR    4/30/2017       87.0
47   138.0    Joseph  28.0  56000.0         4.0   IT    9/23/2019       86.0

In [ ]:
df['Sal'].fillna(df['Sal'].median(),inplace=True)

/tmp/ipython-input-3161181424.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Sal'].fillna(df['Sal'].median(),inplace=True)

In [ ]:
df['Experience'].fillna(df['Experience'].median(),inplace=True)

In [ ]:
df['Per_score'].fillna(df['Per_score'].median(),inplace=True)

/tmp/ipython-input-2959098635.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Per_score'].fillna(df['Per_score'].median(),inplace=True)

In [ ]:
df['Age'].fillna(df['Age'].median(),inplace=True)

/tmp/ipython-input-1527141296.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].median(),inplace=True)

In [ ]:
df['Dept'].fillna(df['Dept'].mode()[0],inplace=True)

/tmp/ipython-input-3898228998.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Dept'].fillna(df['Dept'].mode()[0],inplace=True)

In [ ]:
df.isnull().sum()

Emp_ID          2
Name            2
Age             0
Sal             0
Experience      0
Dept            0
Joining_Date    2
Per_score       0
dtype: int64

In [ ]:
df['Joining_Date'] = pd.to_datetime(df['Joining_Date'], errors='coerce')

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df.shape

(44, 8)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 44 entries, 0 to 44
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Emp_ID        43 non-null     float64
 1   Name          43 non-null     object
 2   Age           44 non-null     float64
 3   Sal           44 non-null     float64
 4   Experience    44 non-null     float64
 5   Dept          44 non-null     object
 6   Joining_Date  43 non-null     datetime64[ns]
 7   Per_score     44 non-null     float64
dtypes: datetime64[ns](1), float64(5), object(2)
memory usage: 3.1+ KB

In [ ]:
df.head()

   Emp_ID   Name   Age      Sal  Experience     Dept Joining_Date  Per_score
0   101.0   John  25.0  50000.0         2.0       IT   2019-06-15       85.0
1   102.0  Alice  30.0  60000.0         5.0       HR   2018-04-22       90.0
2   103.0    Bob  35.0  63000.0        10.0  Finance   2015-07-11       78.0
3   104.0    Eve  28.0  55000.0         4.0       IT   2020-01-05       88.0
4   105.0   Mike  40.0  75000.0        12.0  Finance   2010-09-18       92.0

In [ ]:
df.tail()

,Emp_ID,Name,Age,Sal,Experience,Dept,Joining_Date,Per_score
39,140.0,Samuel,47.0,88000.0,19.0,Finance,2005-11-08,96.0
40,141.0,Abigail,32.0,70000.0,12.0,Marketing,2012-12-19,89.0
41,142.0,Samuel,47.0,88000.0,19.0,IT,2005-11-08,96.0
42,NaN,NaN,32.0,63000.0,8.0,IT,NaT,88.0
44,145.0,Logan,27.0,53000.0,3.0,IT,2020-06-17,84.0